<!DOCTYPE html>
<html>
<head>
	<title>Text</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- og -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="조성훈&허진 결혼식에 초대합니다."/>
    <meta property="og:url" content="http://jinyowo.github.io"/>
    <meta property="og:image" content="https://raw.githubusercontent.com/jinyowo/jinyowo.github.io/master/wedding/images/main.jpg"/>
    <meta property="og:image:type" content="image/*">
</head>
<body>
<h1 class="title">SNS 공유하기 테스트</h1>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/sns.js"></script>
<script>
    $('.title').on('click', function () {
        alert('click');
    });
</script>
</body>
</html>
